<!DOCTYPE html>
<html>
    <head>
        <title>
            404 page
        </title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>404 page not found!! {{message}}</p>
        </div>
        {{>footer}}
    </body>
</html>