<!DOCTYPE html>
<html>
    <head>
        <title>
            about page
        </title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
         <div class="main-content">
        {{>header}}     
        <p>This application uses data from mapbox.com and darksky.net</p>
        <!--<h2>{{description}}</h2>-->
        <img class="potrait" src="/images/robot.png">  
        </div>
        {{>footer}}
    </body>
</html>